*{
    margin: 0 auto;

}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared style */
.color-primary{
    color: #4E47FF;
}

.btn-primary{
    padding: 12px 36px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: #4E47FF;
}
/* Header section */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    
padding-left: 50px;
padding-right: 100px;
}
/* Nav bar */
header nav{
    
    display: flex;
    padding: 50px;

}

.logo{
    font-size: 34px;
    font-weight: 900;
}

.banner-content{
    justify-content: center;
    padding-bottom: 100px;
}
.banner-title{
   font-size: 65px;
   font-weight: 700;
   margin: 110px 0 37px;
}